/* HEADER */

/* mediaquery per icona menù hamburger */

@media screen and (min-width:768px){
    .head .fa-bars{
        display: none;
    }
}

/* media query per tablet */

@media screen and (max-width:767px){
     
    .head .fa-bars{
        color:white;
        font-size: 20px;
    }

    .head .head-nav ul li{
        display: none;
    }

}

/* MAIN */

/* Main Card Section */

/* media query per smartphone */
@media screen and (max-width:480px){

    .row{
        justify-content: center;
    }

    .row .card{
        min-width: 100%;

    }

    .row .card.col{

        width: 100%;
    }

}


/* MEDIA QUERY SECTION PURPLE */

/* media query per tablet */
@media screen and (max-width:768px) {

    .planning .col-left,
    .planning .col-right{
        width: 100%;
    }

}

/* MEDIA QUERY SECTION TESTIMONIALS */

/* media query per smartphone */
@media screen and (max-width:480px) {
    
    .testimonials .testi-card{
        display: block;
    }

}

/* MEDIA QUERY SECTION BENEFITS */

/* media query per tablet */
@media screen and (max-width:768px) {
    
    .benefits .card-benefit{
        width:calc( 50% - 2rem);
    }

}

/* media query per smartphone */
@media screen and (max-width:480px) {

    .benefits .card-benefit{
        width:100%
        
    }

}

/* MEDIA QUERY SECTION ABOUT US */

/* media query per smartphone */
@media screen and (max-width:480px) {

    .w-70,
    .w-30 {
        width: 100%;

    }

}