/* HEADER */

/* mediaquery per icona menù hamburger */

@media screen and (min-width:768px){
    .head .fa-bars{
        display: none;
    }
}

/* media query per tablet */

@media screen and (max-width:767px){
     
    .head .fa-bars{
        color:white;
        font-size: 20px;
    }

    .head .head-nav ul li{
        display: none;
    }

}

/* MAIN */

/* Main Card Section */

/* media query per smar

tphone */
@media screen and (max-width:480px){

    .row{
        justify-content: center;
    }

    .row .card{
        min-width: 100%;

    }

    .row .card.col{

        width: 100%;
    }



}