*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	font-family:'Times New Roman', Times, serif;
	min-height: 100vh;
}

img,
svg,
picture,
video {
	max-width: 100%;
}