/* GENERICS */
h3{
    font-size: 28px;
    margin:1.5rem;
    
}

p{
    font-size: 20px;
    padding:1rem;
    /* margin-bottom: 4rem; */

}




/* HEADER */
.head{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    height:60px;

    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    background-color:#0084FD;
}

.head-nav ul li{
    color: white;
    padding: 0  0.5rem;
}

.head .head-logo{
    cursor: pointer;
}

/* MAIN */

/* Section Main Card */
.main-card-section{
    margin-top: 60px;
    /* debug */
    /* border: 1px solid orange; */
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 2rem 0;
    /* debug */
    /* border: 1px solid blue; */
}

.row .card{
    width: calc(100% / 3 - 20px);
    border-radius:1rem;
    text-align: center;
    background-color: #B5DDFF;
    /* debug */
    /* height: 100px; */
    /* border: 1px solid red; */
}

.card.col{
    width: calc(100% / 3 * 2 - 10px) ;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */

}

.card-left{
    width: 50%;
    text-align: left;
    /* debug */
    /* border: 1px dotted black; */
}

.card-right{
    width: 60%;
    /* position: relative; */
    /* display: flex; */
    /* align-items: flex-end; */
    /* debug */
    /* border: 1px solid green; */
}

.card-right img{
    /* object-fit: cover; */
    /* width: 50%; */
    /* margin: 3rem; */
    /* position: absolute;
    bottom: 0;
    left:4rem; */
    
    /* height: 50%; */
    /* width: 50%;
    margin-top:2rem;
    margin-left: 7rem; */
}

.row .card h3{
    color: #0084FD;
}

.row .card i:not(.fa-apple){
    color: #0084FD;
    font-size: 5rem;
    margin: 1.5rem;
}

.btn-blue{
    text-align: center;
    background-color: #0084FD;
    color: white;
    /* width: 50%; */
    padding: 0.5rem;
    margin: 1rem;
}


/* SECTION PURPLE */

.purple{
    background-color:#9792E4;
    margin: 7rem 0;

}

.planning{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.planning .col-left,
.planning .col-right{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 5rem;
    /* debug */
    /* height: 80px; */
    /* border: 1px solid black; */

}

.planning .col-left{
    color: white;
}

.planning .col-left h3{
    margin-top: 7rem;
}


.planning .col-right{
    align-items: flex-end;
    text-align: center;
}



.planning .col-right .app{
    border-radius: 1rem;
    width: 80%;
    background-color: white;
    /* border: 1px solid red; */

}
.planning .col-right img{
    width: 70%;
    /* height: 50px; */
}

/* .app .fa-circle-down{
    color: black;
    background-color: violet;
text-align: center;
    width: 50%;
     padding: 2px;
     border-radius: 50%;

} */


/* SECTION TESTIMONIALS */

.testimonials{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.testi-card{
    display: flex;
    align-items: center;
    border-radius: 2rem;
    margin: 1rem 0;
    background-color: #9792E4;
    /* padding: 1rem 0; */

    /* debug */
    /* border: 1px solid black; */
}

.head-testi-card>div{
    text-align: center;
}

.head-testi-card h3{
    font-size: 50px;
    /* padding: 1rem 5rem; */
    color: #9792E4;
}


.testi-img{
    height:200px;
    padding: 1rem 0.5rem;
    /* width: 200px; */
    /* border-radius: 50%;
    object-fit:cover; */
    /* debug */
    /* background-color: red; */
    /* border: 2px dotted black; */
}
.testi-img img{
    border-radius: 50%;
    height: 100%;
    object-fit:cover;
}
.testi-text{
    color: white;
}

.testi-text h4{
    text-align:start;
    margin-left: 2.5rem;
    /* debug */
    /* width: 80px;
    height: 80px; */
    /* align-items: center; */
    /* background-color: green; */
    /* border: 1px solid red; */
}

/* SECTION BENEFITS */

.benefits{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.benefits .card-benefit{
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
    border-radius: 2rem;
    background-color: white;
    /* debu */
    /* height: 80px; */
    /* border: 1px solid red; */
    
}

.card-benefit h4{
    font-size: 50px;
    margin: 1.5rem;
    color: #9792E4;
    
}

.card-benefit h3{
color: #9792E4;
}

.card-benefit .btn{
    background-color: #9792E4;

}

.benefits h2{
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 4rem 0;
}


/* SECTION ABOUT US */

.about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.w-70{
    width: 70%;
    /* debug */
    /* height: 80px; */
    /* border: 1px solid blue; */
}

.w-30{
    width: 30%;
    text-align: center;
    /* debug */
    /* height: 80px; */
    /* border: 1px solid blue; */

}

.about .w-30 .btn.btn-blue{
    margin-left: 3rem;
}

.about .w-70 h3{
font-size: 45px;
color: #9792E4;
}

.about .w-30 img{
    width: 50%;
    object-fit: cover;
    border-radius: 50%;
}
.about .w-30 h3{
color: #9792E4;

}

/* SECTION FREE */

.free>div,
.free>div.btn.btn-blue{
    text-align: center;
}